@import url(_reset.css);
@import url(_variables.css);
@import url(layouts.css);
@import url(components.css);
@import url(typhografy.css);

*, *::before, *::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; }

/* --- SHOW ONLY HAMBURGER, LOGO AND CART ON SMALLER SCREEENS --- */
@media (max-width: 1250px) {

    header {
        height: 100px;
    }
    .header-main-categories{
        display: none;
    }
    header .header-logo {
        left: 50%;
        transform: translateX(-50%);
    }
    .cart-button {
        margin-left: auto;
    }

    .all-products {
        width: 900px;
    }
    .all-products h2 {
        font-size: 20px;
    }
    .item-card img {
        height: 150px;
    }
    .product-sizes {
        gap: 30px;
        align-self: center;
    }
    .product-sizes button {
        font-size: 0.75rem;
        padding-top: unset;
        padding: 0.4rem 0.62rem;
    }
    .product-amount {
        gap: 0.75rem;
    }
    .product-details-link {
        font-size: 1rem;
        padding: 0;
    }
    .item-footer {
        align-items: center;
    }
    .add-to-cart-button {
        font-size: 0.8rem;
        padding: 0.8rem 2rem;
    }
    .price-container {
        gap: 10px;
    }
    .price-del {
        font-size: 1.5rem;
    }
    .product-price {
        font-size: 2rem;
    }

    .product-details-container {
        width: 900px;
    }
    .product-details-container h2,
    .product-details-container h5 {
        font-size: 40px;
    }
    .product-details-image img {
        width: 300px;
    }
    .similar-products-cards {
        grid-template-columns: repeat(2, 1fr);
    }

@media (max-width: 1080px) {
    .login-button,
    .register-button {
        display: none;
    }
    nav a {
        font-size;
    }
}

@media (max-width: 950px) {
    .all-products {
        width: 500px;
    }
    .item-content {
    grid-template-columns: 1fr;
    }
    .back-button,
    .checkout-button {
        display: none;
    }

    .product-details-container {
        width: 500px;
    }
    .product-details-container h2,
    .product-details-container h5
    {
        font-size: 30px;
    }
    .product-details-container h5 {
        font-size: 25px;
    }
    .product-details-main {
        grid-template-columns: 1fr;
    }
    .product-details-image img {
        width: 200px;
    }
    .similar-products-cards {
        grid-template-columns: 1fr;
    }

}

/* --- HIDE SHOWCASE ON SMALLER SCREENS, CATEGORY NAV IS MORE IMPORTANT, SHOWCASE TOO COMPLEX ON SMALLER SCREENS--- */
@media (max-width: 768px) {
    header {
        height: 80px;
    }
    nav {
        top: 80px;
    }

    .main-content-container-1 {
        display: none;
    }

    .main-category-image-buttons {
        margin-top: 200px;
    }
    .all-products,
    .product-details-container {
        margin-top: 160px;
    }
}

@media (max-width: 540px) {
    .all-products {
        width: 350px;
        margin-top: 100px;
    }
    .all-products h1,
    .product-details-container h1 {
        font-size: 20px;
    }
    .product-details-container h2,
    .product-details-container h3 {
        font-size: 25px;
    }
    .product-details-container h5 {
        font-size: 18px;
    }
    .product-details-description p {
        font-size: 15px;
    }
    .item-card {
        padding: unset;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
    }
    .item-card h2 {
        grid-column: unset;
    }
    .item-card img {
        grid-row: 2;
        height: 180px;
    }
    .product-details-link {
        grid-row: 3;
    }
    .product-sizes {
        grid-row: 4;
        grid-column: unset;
        justify-content: center;
        margin-top: 20px;
    }
    .product-amount {
        grid-row: 5;
        grid-column: unset;
        margin-left: unset;
        gap: unset;
        gap: 20px;
        margin-top: 20px;
        justify-content: center;
    }
    .item-footer {
        grid-row: 6;
    }
    .add-to-cart-button {
        font-size: 0.8rem;
        padding: 0.8rem 1rem;
    }
    .price-container {
        gap: 10px;
    }
    .price-del {
        font-size: 1rem;
    }
    .product-price {
        font-size: 1.5rem;
    }
    .product-details-container {
        width: 400px;
        margin-top: 100px;
    }
    .product-details-image img {
        width: 200px;
    }
    .details-add-to-cart-button {
        font-size: 15px;
    }
    .price-amount {
        font-size: 35px;
    }
    .details-price-del {
        font-size: 20px;
    }
}

@media (max-width: 420px) {
    header {
        height: 60px;
    }
    nav {
        top: 60px;
    }
    .all-products,
    .product-details-container {
        margin-top: 60px;
    }
    .product-details-container {
        width: 350px;
    }
    .product-details-container h2,
    .product-details-container h3 {
        font-size: 20px;
    }
    .product-details-container h5,
    .details-add-to-cart-button {
        font-size: 12px;
    }
    .details-add-to-cart-button {
        padding: 20px 40px;
    }
    .product-details-image img {
        width: 150px;
    }
    .product-details-card {
        padding: 1rem;
    }