@import url(_reset.css);
@import url(_variables.css);
@import url(layouts.css);
@import url(components.css);
@import url(typhografy.css);

*, *::before, *::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; }

/* --- SHOW ONLY HAMBURGER, LOGO AND CART ON SMALLER SCREEENS --- */
@media (max-width: 1250px) {

    header {
        height: 100px;
    }
    .header-main-categories{
        display: none;
    }

    header .header-logo {
        left: 50%;
        transform: translateX(-50%);
    }

    .hamburger-icon {

    }
    


    .cart-button {
        margin-left: auto;
    }
}

@media (max-width: 1080px) {
    .login-button,
    .register-button {
        display: none;
    }
}

/* --- HIDE SHOWCASE ON SMALLER SCREENS, CATEGORY NAV IS MORE IMPORTANT, SHOWCASE TOO COMPLEX ON SMALLER SCREENS--- */
@media (max-width: 768px) {
    header {
        height: 80px;
    }
    nav {
        top: 80px;
    }

    .main-content-container-1 {
        display: none;
    }

    .main-category-image-buttons {
        margin-top: 200px;
    }
}

@media (max-width: 420px) {
    header {
        height: 60px;
    }
    nav {
        top: 60px;
    }
}